<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block css %}{% endblock %}
</head>
<body>
<header class="main-header">
    <div class="header-container">
       <h1>Rent a Friend!</h1>
    </div>
</header>
<div class="main-body">
    <div class="form-container">
        <form class= "main-form" action="" method="post">

        <div class="container">

            {% block content %}
            {% endblock %}

        </div>
        </form>
    </div>
    {% block additional %}
    {% endblock %}
</div>
{% block footer %}
{% endblock %}
</body>
</html>