{% extends "base.html" %}
{% block title %}Withdraw{% endblock %}
{% block css %}<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/requests.css') }}">{% endblock %}
{% block content %}
    <p class="heading">
       Pay your bills
    </p>
    <p style="font-size: 20px">
        Choose one of your unpaid bills
    </p>

    <label for="bills">My unpaid bills:</label>
    <select name="bills">
        {% for bill in bills %}
            <option value="{{ bill[0] }}">{{ bill[1] }}</option>
        {% endfor %}
    </select>


    <p><input type="submit" value="Pay"></p>

{% endblock %}